
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

/* Font Family */

@theme {
  /* Font */
  --font-lato: "Lato", sans-serif;
  /* Custom global theme colors */
  --color-secondary-bg: var(--color-sky-200);
  --color-primary-bg: var(--color-white);
  --color-footer-text: #777777;
  --color-error: var(--color-red-500);
  --color-heading-text: var(--color-gray-900);
  --color-subheading-text: var(--color-gray-500);
  --color-success: var(--color-green-500);

  --color-overlay: var(--color-black);
  /* Button custom colors variables */
  --color-button-primary: var(--color-yellow-400);
  --color-button-hover: var(--color-yellow-500);
  --color-button-shadow: var(--color-yellow-300);
  --color-input-focus: var(--color-yellow-400);

  /* FormInputField custom color variable */

  --color-default-input-ring: var(--color-gray-500);
  --color-input-focus-ring: var(--color-yellow-400);
  --color-input-icon: var(--color-gray-800);
  --color-tooltip-text: var(--color-white);
  --color-tooltip-bg: var(--color-black);

  /* loginPage custom colors */

  --color-link-disabled-text: var(--color-gray-400);
  --color-link-text: var(--color-blue-500);
  --color-link-hover-text: var(--color-black);
}

/* scroll hide  */
.scrollbar-hide::-webkit-scrollbar {
   display: none;

}
.scrollbar-hide{
   -ms-overflow-style: none;
   scrollbar-width: none;
}


/* Force slick arrows to show */
.slick-prev:before,
.slick-next:before {
  color: black !important;   /* default is white/gray */
  font-size: 30px !important;
}

/* Animated blob background */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

